<extends src="master.html">
  <block name="content">
    <div class="hero">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="hero-title">
              EVOLUTIONIZE CRYPTO WITH
              <span class="hero-title-gradient">EVOKX</span>
            </h1>
            <p class="hero-subtitle">
              Multiply your investments!
            </p>
            <p class="hero-title hero-subtitle">
              Presale approximately starts in:
            </p>

            <div class="countdown">
              <div class="box">
                <h3 class="day">0</h3>
                <h3>Days</h3>
              </div>
              <div class="box">
                <h3 class="hour">0</h3>
                <h3>Hours</h3>
              </div>

              <div class="box">
                <h3 class="minute">0</h3>
                <h3>Minutes</h3>
              </div>

              <div class="box">
                <h3 class="second">0</h3>
                <h3>Seconds</h3>
              </div>
            </div>

            <!-- <a
              href="https://exchange.pancakeswap.finance/#/swap?outputCurrency=0x87eba250a34e7486eab140d89e2eb5d8d113ea2d"
              target="_blank"
              class="btn btn-outline-white"
              >Buy at PancakeSwap</a
            > -->

            <a
              href="https://pinksale.finance"
              target="_blank"
              class="btn btn-outline-white"
              >Join The Presale</a
            >

            <a
              href="https://github.com/"
              target="_blank"
              class="btn btn-outline-white"
              >Smart Contract Audit</a
            >

            <!-- <a href="#!" class="btn btn-outline-white">Apply for IDO</a> -->

            <div class="hero-social">
              <a href="https://twitter.com/" target="_blank">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-twitter"
                  width="30"
                  height="36"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="white"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"
                  ></path>
                </svg>
              </a>
              <a href="https://t.me/" target="_blank">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-telegram"
                  width="36"
                  height="36"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="white"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path>
                </svg>
              </a>
              <a href="https://github.com/" target="_blank">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-github"
                  width="36"
                  height="36"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="white"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                  ></path>
                </svg>
              </a>
              <a href="https://bscscan.com/" target="_blank">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="36"
                  viewBox="0 0 121.378 121.333"
                >
                  <g
                    id="bscscan-logo-light-circle"
                    transform="translate(-219.378 -213.334)"
                  >
                    <path
                      id="Path_1"
                      data-name="Path 1"
                      d="M244.6,271.1a5.144,5.144,0,0,1,5.168-5.143l8.568.028a5.151,5.151,0,0,1,5.151,5.151v32.4c.965-.286,2.2-.591,3.559-.911a4.292,4.292,0,0,0,3.309-4.177V258.261a5.152,5.152,0,0,1,5.151-5.152H284.1a5.152,5.152,0,0,1,5.151,5.152v37.3s2.15-.87,4.243-1.754a4.3,4.3,0,0,0,2.625-3.957V245.383a5.151,5.151,0,0,1,5.15-5.151h8.585A5.151,5.151,0,0,1,315,245.383V282c7.443-5.394,14.986-11.882,20.972-19.683a8.646,8.646,0,0,0,1.316-8.072,60.636,60.636,0,1,0-109.855,50.108,7.668,7.668,0,0,0,7.316,3.79c1.624-.143,3.646-.345,6.05-.627a4.29,4.29,0,0,0,3.805-4.258V271.1"
                      fill="#fff"
                    />
                    <path
                      id="Path_2"
                      data-name="Path 2"
                      d="M244.417,323.061A60.656,60.656,0,0,0,340.756,274c0-1.4-.065-2.778-.158-4.152-22.163,33.055-63.085,48.508-96.181,53.213"
                      fill="#f0b90b"
                    />
                  </g>
                </svg>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-center">
              <img
                src="/img/hero-isometric.svg"
                alt="logo"
                class="hero-logo"
                draggable="false"
                data-aos="zoom-in"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="hero-divider">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
        >
          <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="shape-fill"
          ></path>
        </svg>
      </div>
    </div>

    <div class="ecosystem" id="ecosystem">
      <div class="container">
        <div class="text-center">
          <p class="title" data-aos="fade-up">Ecosystem</p>
          <p class="subtitle">Part of the EVOKX Ecosystem</p>

          <div class="row">
            <div class="col-md-3">
              <img
                src="/img/launchpad.svg"
                class="ecosystem-icon"
                alt="Launchpad"
                draggable="false"
              />
              <p class="ecosystem-title">Launchpad</p>
              <p class="ecosystem-subtitle">
                The ICO will give community members the chance to get in on the
                ground floor and claim a new token on the launchpad.
              </p>
            </div>
            <div class="col-md-3">
              <img
                src="/img/liquidity.svg"
                class="ecosystem-icon"
                alt="Liquidity Aggregator"
                draggable="false"
              />
              <p class="ecosystem-title">Liquidity Aggregator</p>
              <p class="ecosystem-subtitle">
                Traders use liquidity aggregators to find the best possible
                price across a variety of liquidity pools.
              </p>
            </div>
            <div class="col-md-3">
              <img
                src="/img/farming.svg"
                class="ecosystem-icon"
                alt="Farming/Staking"
                draggable="false"
              />
              <p class="ecosystem-title">Farming/Staking</p>
              <p class="ecosystem-subtitle">
                With our ICO, a new farming pool will be deployed based on the
                launched token.
              </p>
            </div>
            <div class="col-md-3">
              <img
                src="/img/nft.svg"
                class="ecosystem-icon"
                alt="NFT Marketplace"
                draggable="false"
              />
              <p class="ecosystem-title">NFT Marketplace</p>
              <p class="ecosystem-subtitle">
                Users can easily create as many collectibles as they wish, sell
                them, or decide not to sell on this network.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="launchpad" id="launchpad">
      <div class="container">
        <div class="text-center">
          <p class="title" data-aos="fade-up">EVOKX Launchpad</p>
          <p class="subtitle">
            Join the community. Be the first to decentralize the way you raise
            capital for your ideas.
          </p>
        </div>

        <!-- <div class="text-center">
          <a href="#!" class="btn btn-outline-white">Apply for IDO</a>
        </div> -->
      </div>
    </div>

    <div class="tokenomics" id="tokenomics">
      <div class="container">
        <div class="text-center">
          <p class="title" data-aos="fade-up">Tokenomics</p>
        </div>

        <p class="total-supply">1,000,000,000 <span>Total Supply</span></p>
        <p class="subtitle text-center">
          Token Network: <strong>Binance Smart Chain (BSC)</strong> <br />
          Token Type: <strong>BEP-20</strong>
        </p>

        <div class="row">
          <div class="col-md-6">
            <p class="token-distribution">Token Distribution</p>
            <div id="chart"></div>
          </div>
          <div class="col-md-6">
            <p class="token-distribution">55% Pre-Sale Token Distribution</p>
            <div id="chart2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="protocol" id="protocol">
      <div class="container">
        <div class="text-center">
          <p class="title" data-aos="fade-up">OKX Exchange Listing</p>
          <div class="subtitle">
            EVOKX will be listed on OKX exchange, a reputable and globally
            recognized cryptocurrency exchange, providing liquidity and
            accessibility to traders worldwide.
          </div>

          <div class="protocol-grid">
            <div class="card">
              <div class="card-body">
                <img
                  src="/img/multiple-trading-pairs.svg"
                  class="protocol-icon"
                  alt="Multiple Trading Pairs"
                  draggable="false"
                />
                <p class="card-title">Multiple Trading Pairs</p>
                <p class="card-desc">
                  The token is paired with various cryptocurrencies on the OKX
                  exchange, enhancing its trading versatility and accessibility.
                </p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img
                  src="/img/low-fees.svg"
                  class="protocol-icon"
                  alt="Low Fees"
                  draggable="false"
                />
                <p class="card-title">Low Fees</p>
                <p class="card-desc">
                  Trading fees on the OKX exchange are competitive, ensuring
                  that users can trade the token efficiently without incurring
                  high transaction costs.
                </p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img
                  src="/img/partnership-benefits.svg"
                  class="protocol-icon"
                  alt="Partnership Benefits"
                  draggable="false"
                />
                <p class="card-title">Partnership Benefits</p>
                <p class="card-desc">
                  Users may receive exclusive benefits or rewards through the
                  partnership between the token project and OKX, incentivizing
                  participation and loyalty.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="roadmap" id="roadmap">
      <div class="container">
        <div class="text-center">
          <p class="title" data-aos="fade-up">Roadmap</p>
          <p class="subtitle">EVOKX Roadmap</p>

          <div class="timeline">
            <ul class="events">
              <li class="event-list">
                <div class="event-date">Q2 2024</div>
                <div class="event-content">
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Token Launch on PinkSale
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Initial Exchange Listing
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Community Building
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Basic Utility Implementation
                  </p>
                </div>
              </li>
              <li class="event-list">
                <div class="event-date">Q3 2024</div>
                <div class="event-content">
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Additional Exchange Listings
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Integration with DeFi Protocols
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Enhanced Security Measures
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Partnership Expansion
                  </p>
                </div>
              </li>
              <li class="event-list">
                <div class="event-date">Q4 2024</div>
                <div class="event-content">
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Education and Awareness Campaigns
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Ecosystem Expansion
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Developer Grants Program
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Community Governance Enhancement
                  </p>
                </div>
              </li>
              <li class="event-list">
                <div class="event-date">Q1 2025</div>
                <div class="event-content">
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Global Marketing Campaigns
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Scalability Improvements
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Localized Support and Partnerships
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Cross-Chain Compatibility
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Long-Term Sustainability
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="roadmap" id="team" style="padding-top: 0px;">
      <div class="container">
        <div class="text-center">
          <p class="title" data-aos="fade-up">Our Team</p>
          <div class="subtitle">
            EVOKX Team
          </div>
          <div class="protocol-grid">
            <div class="card">
              <div class="card-body">
                <img
                  src="/img/at-team-2.svg"
                  class="protocol-icon"
                  alt="team"
                  draggable="false"
                />
                <p class="card-title">CodeMasterX</p>
                <p class="card-desc">Lead Developer</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img
                  src="/img/at-team-7.svg"
                  class="protocol-icon"
                  alt="team"
                  draggable="false"
                />
                <p class="card-title">SocialSphereAce</p>
                <p class="card-desc">Community Manager</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img
                  src="/img/at-team-5.svg"
                  class="protocol-icon"
                  alt="team"
                  draggable="false"
                />
                <p class="card-title">Blockchain B.</p>
                <p class="card-desc">Solidity Programmer</p>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <img
                  src="/img/at-team-4.svg"
                  class="protocol-icon"
                  alt="team"
                  draggable="false"
                />
                <p class="card-title">SSavvy</p>
                <p class="card-desc">Backend Developer</p>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <img
                  src="/img/at-team-3.svg"
                  class="protocol-icon"
                  alt="team"
                  draggable="false"
                />
                <p class="card-title">UIWizard</p>
                <p class="card-desc">Frontend Developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="faqs" id="faqs">
      <div class="container">
        <div class="text-center">
          <p class="title" data-aos="fade-up">FAQs</p>
          <div class="subtitle">General Frequently Asked Questions</div>

          <div id="accordion">
            <div class="card">
              <div class="card-header" id="faqHeading-1">
                <div class="mb-0">
                  <h5
                    class="faq-title"
                    data-toggle="collapse"
                    data-target="#faqCollapse-1"
                    data-aria-expanded="true"
                    data-aria-controls="faqCollapse-1"
                  >
                    <span class="badge">1</span> What is EVOKX?
                  </h5>
                </div>
              </div>
              <div
                id="faqCollapse-1"
                class="collapse"
                aria-labelledby="faqHeading-1"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <p>
                    EVOKX is a utility token launched in collaboration with
                    PinkSale and OKX exchange. It serves as the native digital
                    asset, designed to facilitate various functions such as
                    governance, staking, and participation in ecosystem
                    activities.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-2">
                <div class="mb-0">
                  <h5
                    class="faq-title"
                    data-toggle="collapse"
                    data-target="#faqCollapse-2"
                    data-aria-expanded="false"
                    data-aria-controls="faqCollapse-2"
                  >
                    <span class="badge">2</span> Where can I buy EVOKX?
                  </h5>
                </div>
              </div>
              <div
                id="faqCollapse-2"
                class="collapse"
                aria-labelledby="faqHeading-2"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <p>
                    EVOKX can be bought at
                    <a href="https://pinksale.finance/" target="_blank"
                      >PinkSale Presale</a
                    >
                    starting on 1th May 2024 and purchased afterward in
                    <!-- href="https://exchange.pancakeswap.finance/#/swap?outputCurrency=0x87eba250a34e7486eab140d89e2eb5d8d113ea2d" -->
                    <a
                      href="https://exchange.pancakeswap.finance/"
                      target="_blank"
                      >PancakeSwap</a
                    >.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-3">
                <div class="mb-0">
                  <h5
                    class="faq-title"
                    data-toggle="collapse"
                    data-target="#faqCollapse-3"
                    data-aria-expanded="false"
                    data-aria-controls="faqCollapse-3"
                  >
                    <span class="badge">3</span> What is EVOKX total token
                    supply, and will it be stable?
                  </h5>
                </div>
              </div>
              <div
                id="faqCollapse-3"
                class="collapse"
                aria-labelledby="faqHeading-3"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <p>
                    EVOKX max token supply will be 1,000,000,000. Due to that
                    token supply, it will be deflationary.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-4">
                <div class="mb-0">
                  <h5
                    class="faq-title"
                    data-toggle="collapse"
                    data-target="#faqCollapse-4"
                    data-aria-expanded="false"
                    data-aria-controls="faqCollapse-4"
                  >
                    <span class="badge">4</span> What is the slippage tolerance
                    need to buy EVOKX?
                  </h5>
                </div>
              </div>
              <div
                id="faqCollapse-4"
                class="collapse"
                aria-labelledby="faqHeading-4"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <p>
                    The slippage is between 5% to 15%.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </block>
</extends>
